## 全体の流れ
<ol>
<li>株価データを読み込む</li>
<li>データの全体像をつかむ</li>
<li>特徴量を追加する</li>
<li>学習データと検証データに分割する</li>
<li>データを整える</li>
<li>予測モデルの作成と交差検証</li>
<li>検証データによる予測と精度検証</li>
</ol>

## 株価データを読み込み目的変数を追加する

In [1]:
import pandas as pd
from pandas_datareader import data as pdr
import numpy as np
import matplotlib.pyplot as plt
import warnings
import yfinance as yf
import datetime
from dtw import dtw
from scipy.spatial.distance import euclidean
from dateutil.relativedelta import relativedelta
from sklearn.preprocessing import MinMaxScaler
warnings.simplefilter("ignore")
%matplotlib inline

/root/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
train_dates=["2012-01-01","2012-02-01","2012-03-01","2012-04-01","2012-05-01","2012-06-01","2012-07-01","2012-08-01","2012-09-01","2012-10-01","2012-11-01","2012-12-01",
             "2013-01-01","2013-02-01","2013-03-01","2013-04-01","2013-05-01","2013-06-01","2013-07-01","2013-08-01","2013-09-01","2013-10-01","2013-11-01","2013-12-01",
             "2014-01-01","2014-02-01","2014-03-01","2014-04-01","2014-05-01","2014-06-01","2014-07-01","2014-08-01","2014-09-01","2014-10-01","2014-11-01","2014-12-01",
             "2015-01-01","2015-02-01","2015-03-01","2015-04-01","2015-05-01","2015-06-01","2015-07-01","2015-08-01","2015-09-01","2015-10-01","2015-11-01","2015-12-01",
             "2016-01-01","2016-02-01","2016-03-01","2016-04-01","2016-05-01","2016-06-01","2016-07-01","2016-08-01","2016-09-01","2016-10-01","2016-11-01","2016-12-01",
             "2017-01-01","2017-02-01","2017-03-01","2017-04-01","2017-05-01","2017-06-01","2017-07-01","2017-08-01","2017-09-01","2017-10-01","2017-11-01","2017-12-01",
             "2018-01-01","2018-02-01","2018-03-01","2018-04-01","2018-05-01","2018-06-01","2018-07-01","2018-08-01","2018-09-01","2018-10-01","2018-11-01","2018-12-01",
             "2019-01-01","2019-02-01","2019-03-01","2019-04-01","2019-05-01","2019-06-01","2019-07-01","2019-08-01","2019-09-01","2019-10-01","2019-11-01","2019-12-01",
             "2020-01-01","2020-02-01","2020-03-01","2020-04-01","2020-05-01","2020-06-01","2020-07-01","2020-08-01","2020-09-01","2020-10-01","2020-11-01","2020-12-01"]
file_names=list(map(lambda s: s + '.csv', train_dates))

In [7]:
#日足データ
topix_close=[]
topix_index=[]
topix_volume=[]
MinMax_close=[]
MinMax_index=[]
for file in file_names[:48]:
        data=pd.read_csv(file,header=0)
        #正規化のクラスを準備
        ms = MinMaxScaler()
        #特徴量の最大値と最小値を計算し変換
        X = np.array(data["Close"]).reshape(-1,1)
        data["MinMax_Close"] = ms.fit_transform(X)#最小値0最大値1の正規化
        a=data["Close"][0]#日の始値
        b=data["MinMax_Close"][0]#日の始値
        data["MinMax_index"]=data["Close"]
        data["index"]=data["Close"]
        for i in range(len(data.index)):
            data["index"][i]=data["Close"][i]/a
            data["MinMax_index"][i]=data["MinMax_Close"][i]/b
        topix_close.append(data["Close"].tail(1).values)
        topix_index.append(data["index"].values)
        topix_volume.append(data["Volume"].values)
        MinMax_close.append(data["MinMax_Close"].values)
        MinMax_index.append(data["MinMax_index"].values)
df_topix_index=pd.DataFrame(topix_index,index=train_dates)
df_topix_close=pd.DataFrame(topix_close,index=train_dates)
df_topix_volume=pd.DataFrame(topix_volume,index=train_dates)
df_MinMax_close=pd.DataFrame(MinMax_close,index=train_dates)
df_MinMax_index=pd.DataFrame(MinMax_index,index=train_dates)
#可視化　
#plt.plot(df_topix_index.T)
#plt.plot(df_MinMax_index.T)

ValueError: Shape of passed values is (48, 23), indices imply (108, 23)

In [6]:
#15分足のデータ
file_15min=['15min/2012-01-04.csv', '15min/2012-01-05.csv', '15min/2012-01-06.csv', '15min/2012-01-10.csv', '15min/2012-01-11.csv', '15min/2012-01-12.csv', '15min/2012-01-13.csv', '15min/2012-01-16.csv', '15min/2012-01-17.csv', '15min/2012-01-18.csv', '15min/2012-01-19.csv', '15min/2012-01-20.csv', '15min/2012-01-23.csv', '15min/2012-01-24.csv', '15min/2012-01-25.csv', '15min/2012-01-26.csv', '15min/2012-01-27.csv', '15min/2012-01-30.csv', '15min/2012-01-31.csv', '15min/2012-02-01.csv', '15min/2012-02-02.csv', '15min/2012-02-03.csv', '15min/2012-02-06.csv', '15min/2012-02-07.csv', '15min/2012-02-08.csv', '15min/2012-02-09.csv', '15min/2012-02-10.csv', '15min/2012-02-13.csv', '15min/2012-02-14.csv', '15min/2012-02-15.csv', '15min/2012-02-16.csv', '15min/2012-02-17.csv', '15min/2012-02-20.csv', '15min/2012-02-21.csv', '15min/2012-02-22.csv', '15min/2012-02-23.csv', '15min/2012-02-24.csv', '15min/2012-02-27.csv', '15min/2012-02-28.csv', '15min/2012-02-29.csv', '15min/2012-03-01.csv', '15min/2012-03-02.csv', '15min/2012-03-05.csv', '15min/2012-03-06.csv', '15min/2012-03-07.csv', '15min/2012-03-08.csv', '15min/2012-03-09.csv', '15min/2012-03-12.csv', '15min/2012-03-13.csv', '15min/2012-03-14.csv', '15min/2012-03-15.csv', '15min/2012-03-16.csv', '15min/2012-03-19.csv', '15min/2012-03-21.csv', '15min/2012-03-22.csv', '15min/2012-03-23.csv', '15min/2012-03-26.csv', '15min/2012-03-27.csv', '15min/2012-03-28.csv', '15min/2012-03-29.csv', '15min/2012-03-30.csv', '15min/2012-04-01.csv', '15min/2012-04-02.csv', '15min/2012-04-03.csv', '15min/2012-04-04.csv', '15min/2012-04-05.csv', '15min/2012-04-06.csv', '15min/2012-04-09.csv', '15min/2012-04-10.csv', '15min/2012-04-11.csv', '15min/2012-04-12.csv', '15min/2012-04-13.csv', '15min/2012-04-16.csv', '15min/2012-04-17.csv', '15min/2012-04-18.csv', '15min/2012-04-19.csv', '15min/2012-04-20.csv', '15min/2012-04-23.csv', '15min/2012-04-24.csv', '15min/2012-04-25.csv', '15min/2012-04-26.csv', '15min/2012-04-27.csv', '15min/2012-05-01.csv', '15min/2012-05-02.csv', '15min/2012-05-07.csv', '15min/2012-05-08.csv', '15min/2012-05-09.csv', '15min/2012-05-10.csv', '15min/2012-05-11.csv', '15min/2012-05-14.csv', '15min/2012-05-15.csv', '15min/2012-05-16.csv', '15min/2012-05-17.csv', '15min/2012-05-18.csv', '15min/2012-05-21.csv', '15min/2012-05-22.csv', '15min/2012-05-23.csv', '15min/2012-05-24.csv', '15min/2012-05-25.csv', '15min/2012-05-28.csv', '15min/2012-05-29.csv', '15min/2012-05-30.csv', '15min/2012-05-31.csv', '15min/2012-06-01.csv', '15min/2012-06-04.csv', '15min/2012-06-05.csv', '15min/2012-06-06.csv', '15min/2012-06-07.csv', '15min/2012-06-08.csv', '15min/2012-06-11.csv', '15min/2012-06-12.csv', '15min/2012-06-13.csv', '15min/2012-06-14.csv', '15min/2012-06-15.csv', '15min/2012-06-18.csv', '15min/2012-06-19.csv', '15min/2012-06-20.csv', '15min/2012-06-21.csv', '15min/2012-06-22.csv', '15min/2012-06-25.csv', '15min/2012-06-26.csv', '15min/2012-06-27.csv', '15min/2012-06-28.csv', '15min/2012-06-29.csv', '15min/2012-07-01.csv', '15min/2012-07-02.csv', '15min/2012-07-03.csv', '15min/2012-07-04.csv', '15min/2012-07-05.csv', '15min/2012-07-06.csv', '15min/2012-07-09.csv', '15min/2012-07-10.csv', '15min/2012-07-11.csv', '15min/2012-07-12.csv', '15min/2012-07-13.csv', '15min/2012-07-17.csv', '15min/2012-07-18.csv', '15min/2012-07-19.csv', '15min/2012-07-20.csv', '15min/2012-07-23.csv', '15min/2012-07-24.csv', '15min/2012-07-25.csv', '15min/2012-07-26.csv', '15min/2012-07-27.csv', '15min/2012-07-30.csv', '15min/2012-07-31.csv', '15min/2012-08-01.csv', '15min/2012-08-02.csv', '15min/2012-08-03.csv', '15min/2012-08-06.csv', '15min/2012-08-07.csv', '15min/2012-08-08.csv', '15min/2012-08-09.csv', '15min/2012-08-10.csv', '15min/2012-08-13.csv', '15min/2012-08-14.csv', '15min/2012-08-15.csv', '15min/2012-08-16.csv', '15min/2012-08-17.csv', '15min/2012-08-20.csv', '15min/2012-08-21.csv', '15min/2012-08-22.csv', '15min/2012-08-23.csv', '15min/2012-08-24.csv', '15min/2012-08-27.csv', '15min/2012-08-28.csv', '15min/2012-08-29.csv', '15min/2012-08-30.csv', '15min/2012-08-31.csv', '15min/2012-09-01.csv', '15min/2012-09-03.csv', '15min/2012-09-04.csv', '15min/2012-09-05.csv', '15min/2012-09-06.csv', '15min/2012-09-07.csv', '15min/2012-09-10.csv', '15min/2012-09-11.csv', '15min/2012-09-12.csv', '15min/2012-09-13.csv', '15min/2012-09-14.csv', '15min/2012-09-18.csv', '15min/2012-09-19.csv', '15min/2012-09-20.csv', '15min/2012-09-21.csv', '15min/2012-09-24.csv', '15min/2012-09-25.csv', '15min/2012-09-26.csv', '15min/2012-09-27.csv', '15min/2012-09-28.csv', '15min/2012-10-01.csv', '15min/2012-10-02.csv', '15min/2012-10-03.csv', '15min/2012-10-04.csv', '15min/2012-10-05.csv', '15min/2012-10-09.csv', '15min/2012-10-10.csv', '15min/2012-10-11.csv', '15min/2012-10-12.csv', '15min/2012-10-15.csv', '15min/2012-10-16.csv', '15min/2012-10-17.csv', '15min/2012-10-18.csv', '15min/2012-10-19.csv', '15min/2012-10-22.csv', '15min/2012-10-23.csv', '15min/2012-10-24.csv', '15min/2012-10-25.csv', '15min/2012-10-26.csv', '15min/2012-10-29.csv', '15min/2012-10-30.csv', '15min/2012-10-31.csv', '15min/2012-11-01.csv', '15min/2012-11-02.csv', '15min/2012-11-05.csv', '15min/2012-11-06.csv', '15min/2012-11-07.csv', '15min/2012-11-08.csv', '15min/2012-11-09.csv', '15min/2012-11-12.csv', '15min/2012-11-13.csv', '15min/2012-11-14.csv', '15min/2012-11-15.csv', '15min/2012-11-16.csv', '15min/2012-11-19.csv', '15min/2012-11-20.csv', '15min/2012-11-21.csv', '15min/2012-11-22.csv', '15min/2012-11-26.csv', '15min/2012-11-27.csv', '15min/2012-11-28.csv', '15min/2012-11-29.csv', '15min/2012-11-30.csv', '15min/2012-12-01.csv', '15min/2012-12-03.csv', '15min/2012-12-04.csv', '15min/2012-12-05.csv', '15min/2012-12-06.csv', '15min/2012-12-07.csv', '15min/2012-12-10.csv', '15min/2012-12-11.csv', '15min/2012-12-12.csv', '15min/2012-12-13.csv', '15min/2012-12-14.csv', '15min/2012-12-17.csv', '15min/2012-12-18.csv', '15min/2012-12-19.csv', '15min/2012-12-20.csv', '15min/2012-12-21.csv', '15min/2012-12-25.csv', '15min/2012-12-26.csv', '15min/2012-12-27.csv', '15min/2012-12-28.csv', '15min/2013-01-04.csv', '15min/2013-01-07.csv', '15min/2013-01-08.csv', '15min/2013-01-09.csv', '15min/2013-01-10.csv', '15min/2013-01-11.csv', '15min/2013-01-15.csv', '15min/2013-01-16.csv', '15min/2013-01-17.csv', '15min/2013-01-18.csv', '15min/2013-01-21.csv', '15min/2013-01-22.csv', '15min/2013-01-23.csv', '15min/2013-01-24.csv', '15min/2013-01-25.csv', '15min/2013-01-28.csv', '15min/2013-01-29.csv', '15min/2013-01-30.csv', '15min/2013-01-31.csv', '15min/2013-02-01.csv', '15min/2013-02-04.csv', '15min/2013-02-05.csv', '15min/2013-02-06.csv', '15min/2013-02-07.csv', '15min/2013-02-08.csv', '15min/2013-02-12.csv', '15min/2013-02-13.csv', '15min/2013-02-14.csv', '15min/2013-02-15.csv', '15min/2013-02-18.csv', '15min/2013-02-19.csv', '15min/2013-02-20.csv', '15min/2013-02-21.csv', '15min/2013-02-22.csv', '15min/2013-02-25.csv', '15min/2013-02-26.csv', '15min/2013-02-27.csv', '15min/2013-02-28.csv', '15min/2013-03-01.csv', '15min/2013-03-04.csv', '15min/2013-03-05.csv', '15min/2013-03-06.csv', '15min/2013-03-07.csv', '15min/2013-03-08.csv', '15min/2013-03-11.csv', '15min/2013-03-12.csv', '15min/2013-03-13.csv', '15min/2013-03-14.csv', '15min/2013-03-15.csv', '15min/2013-03-18.csv', '15min/2013-03-19.csv', '15min/2013-03-21.csv', '15min/2013-03-22.csv', '15min/2013-03-25.csv', '15min/2013-03-26.csv', '15min/2013-03-27.csv', '15min/2013-03-28.csv', '15min/2013-03-29.csv', '15min/2013-04-01.csv', '15min/2013-04-02.csv', '15min/2013-04-03.csv', '15min/2013-04-04.csv', '15min/2013-04-05.csv', '15min/2013-04-08.csv', '15min/2013-04-09.csv', '15min/2013-04-10.csv', '15min/2013-04-11.csv', '15min/2013-04-12.csv', '15min/2013-04-15.csv', '15min/2013-04-16.csv', '15min/2013-04-17.csv', '15min/2013-04-18.csv', '15min/2013-04-19.csv', '15min/2013-04-22.csv', '15min/2013-04-23.csv', '15min/2013-04-24.csv', '15min/2013-04-25.csv', '15min/2013-04-26.csv', '15min/2013-04-30.csv', '15min/2013-05-01.csv', '15min/2013-05-02.csv', '15min/2013-05-07.csv', '15min/2013-05-08.csv', '15min/2013-05-09.csv', '15min/2013-05-10.csv', '15min/2013-05-13.csv', '15min/2013-05-14.csv', '15min/2013-05-15.csv', '15min/2013-05-16.csv', '15min/2013-05-17.csv', '15min/2013-05-20.csv', '15min/2013-05-21.csv', '15min/2013-05-22.csv', '15min/2013-05-23.csv', '15min/2013-05-24.csv', '15min/2013-05-27.csv', '15min/2013-05-28.csv', '15min/2013-05-29.csv', '15min/2013-05-30.csv', '15min/2013-05-31.csv', '15min/2013-06-03.csv', '15min/2013-06-04.csv', '15min/2013-06-05.csv', '15min/2013-06-06.csv', '15min/2013-06-07.csv', '15min/2013-06-10.csv', '15min/2013-06-11.csv', '15min/2013-06-12.csv', '15min/2013-06-13.csv', '15min/2013-06-14.csv', '15min/2013-06-17.csv', '15min/2013-06-18.csv', '15min/2013-06-19.csv', '15min/2013-06-20.csv', '15min/2013-06-21.csv', '15min/2013-06-24.csv', '15min/2013-06-25.csv', '15min/2013-06-26.csv', '15min/2013-06-27.csv', '15min/2013-06-28.csv', '15min/2013-07-01.csv', '15min/2013-07-02.csv', '15min/2013-07-03.csv', '15min/2013-07-04.csv', '15min/2013-07-05.csv', '15min/2013-07-08.csv', '15min/2013-07-09.csv', '15min/2013-07-10.csv', '15min/2013-07-11.csv', '15min/2013-07-12.csv', '15min/2013-07-16.csv', '15min/2013-07-17.csv', '15min/2013-07-18.csv', '15min/2013-07-19.csv', '15min/2013-07-22.csv', '15min/2013-07-23.csv', '15min/2013-07-24.csv', '15min/2013-07-25.csv', '15min/2013-07-26.csv', '15min/2013-07-29.csv', '15min/2013-07-30.csv', '15min/2013-07-31.csv', '15min/2013-08-01.csv', '15min/2013-08-02.csv', '15min/2013-08-05.csv', '15min/2013-08-06.csv', '15min/2013-08-07.csv', '15min/2013-08-08.csv', '15min/2013-08-09.csv', '15min/2013-08-12.csv', '15min/2013-08-13.csv', '15min/2013-08-14.csv', '15min/2013-08-15.csv', '15min/2013-08-16.csv', '15min/2013-08-19.csv', '15min/2013-08-20.csv', '15min/2013-08-21.csv', '15min/2013-08-22.csv', '15min/2013-08-23.csv', '15min/2013-08-26.csv', '15min/2013-08-27.csv', '15min/2013-08-28.csv', '15min/2013-08-29.csv', '15min/2013-08-30.csv', '15min/2013-09-02.csv', 
            '15min/2013-09-03.csv', '15min/2013-09-04.csv', '15min/2013-09-05.csv', '15min/2013-09-06.csv', '15min/2013-09-09.csv', '15min/2013-09-10.csv', '15min/2013-09-11.csv', '15min/2013-09-12.csv', '15min/2013-09-13.csv', '15min/2013-09-17.csv', '15min/2013-09-18.csv', '15min/2013-09-19.csv', '15min/2013-09-20.csv', '15min/2013-09-24.csv', '15min/2013-09-25.csv', '15min/2013-09-26.csv', '15min/2013-09-27.csv', '15min/2013-09-30.csv', '15min/2013-10-01.csv', '15min/2013-10-02.csv', '15min/2013-10-03.csv', '15min/2013-10-04.csv', '15min/2013-10-07.csv', '15min/2013-10-08.csv', '15min/2013-10-09.csv', '15min/2013-10-10.csv', '15min/2013-10-11.csv', '15min/2013-10-15.csv', '15min/2013-10-16.csv', '15min/2013-10-17.csv', '15min/2013-10-18.csv', '15min/2013-10-21.csv', '15min/2013-10-22.csv', '15min/2013-10-23.csv', '15min/2013-10-24.csv', '15min/2013-10-25.csv', '15min/2013-10-28.csv', '15min/2013-10-29.csv', '15min/2013-10-30.csv', '15min/2013-10-31.csv', '15min/2013-11-01.csv', '15min/2013-11-05.csv', '15min/2013-11-06.csv', '15min/2013-11-07.csv', '15min/2013-11-08.csv', '15min/2013-11-11.csv', '15min/2013-11-12.csv', '15min/2013-11-13.csv', '15min/2013-11-14.csv', '15min/2013-11-15.csv', '15min/2013-11-18.csv', '15min/2013-11-19.csv', '15min/2013-11-20.csv', '15min/2013-11-21.csv', '15min/2013-11-22.csv', '15min/2013-11-25.csv', '15min/2013-11-26.csv', '15min/2013-11-27.csv', '15min/2013-11-28.csv', '15min/2013-11-29.csv', '15min/2013-12-02.csv', '15min/2013-12-03.csv', '15min/2013-12-04.csv', '15min/2013-12-05.csv', '15min/2013-12-06.csv', '15min/2013-12-09.csv', '15min/2013-12-10.csv', '15min/2013-12-11.csv', '15min/2013-12-12.csv', '15min/2013-12-13.csv', '15min/2013-12-16.csv', '15min/2013-12-17.csv', '15min/2013-12-18.csv', '15min/2013-12-19.csv', '15min/2013-12-20.csv', '15min/2013-12-24.csv', '15min/2013-12-25.csv', '15min/2013-12-26.csv', '15min/2013-12-27.csv', '15min/2013-12-30.csv', '15min/2014-01-06.csv', '15min/2014-01-07.csv', '15min/2014-01-08.csv', '15min/2014-01-09.csv', '15min/2014-01-10.csv', '15min/2014-01-14.csv', '15min/2014-01-15.csv', '15min/2014-01-16.csv', '15min/2014-01-17.csv', '15min/2014-01-20.csv', '15min/2014-01-21.csv', '15min/2014-01-22.csv', '15min/2014-01-23.csv', '15min/2014-01-24.csv', '15min/2014-01-27.csv', '15min/2014-01-28.csv', '15min/2014-01-29.csv', '15min/2014-01-30.csv', '15min/2014-01-31.csv', '15min/2014-02-03.csv', '15min/2014-02-04.csv', '15min/2014-02-05.csv', '15min/2014-02-06.csv', '15min/2014-02-07.csv', '15min/2014-02-10.csv', '15min/2014-02-12.csv', '15min/2014-02-13.csv', '15min/2014-02-14.csv', '15min/2014-02-17.csv', '15min/2014-02-18.csv', '15min/2014-02-19.csv', '15min/2014-02-20.csv', '15min/2014-02-21.csv', '15min/2014-02-24.csv', '15min/2014-02-25.csv', '15min/2014-02-26.csv', '15min/2014-02-27.csv', '15min/2014-02-28.csv', '15min/2014-03-03.csv', '15min/2014-03-04.csv', '15min/2014-03-05.csv', '15min/2014-03-06.csv', '15min/2014-03-07.csv', '15min/2014-03-10.csv', '15min/2014-03-11.csv', '15min/2014-03-12.csv', '15min/2014-03-13.csv', '15min/2014-03-14.csv', '15min/2014-03-17.csv', '15min/2014-03-18.csv', '15min/2014-03-19.csv', '15min/2014-03-20.csv', '15min/2014-03-24.csv', '15min/2014-03-25.csv', '15min/2014-03-26.csv', '15min/2014-03-27.csv', '15min/2014-03-28.csv', '15min/2014-03-31.csv', '15min/2014-04-01.csv', '15min/2014-04-02.csv', '15min/2014-04-03.csv', '15min/2014-04-04.csv', '15min/2014-04-07.csv', '15min/2014-04-08.csv', '15min/2014-04-09.csv', '15min/2014-04-10.csv', '15min/2014-04-11.csv', '15min/2014-04-14.csv', '15min/2014-04-15.csv', '15min/2014-04-16.csv', '15min/2014-04-17.csv', '15min/2014-04-18.csv', '15min/2014-04-21.csv', '15min/2014-04-22.csv', '15min/2014-04-23.csv', '15min/2014-04-24.csv', '15min/2014-04-25.csv', '15min/2014-04-28.csv', '15min/2014-04-30.csv', '15min/2014-05-01.csv', '15min/2014-05-02.csv', '15min/2014-05-07.csv', '15min/2014-05-08.csv', '15min/2014-05-09.csv', '15min/2014-05-12.csv', '15min/2014-05-13.csv', '15min/2014-05-14.csv', '15min/2014-05-15.csv', '15min/2014-05-16.csv', '15min/2014-05-19.csv', '15min/2014-05-20.csv', '15min/2014-05-21.csv', '15min/2014-05-22.csv', '15min/2014-05-23.csv', '15min/2014-05-26.csv', '15min/2014-05-27.csv', '15min/2014-05-28.csv', '15min/2014-05-29.csv', '15min/2014-05-30.csv', '15min/2014-06-02.csv', '15min/2014-06-03.csv', '15min/2014-06-04.csv', '15min/2014-06-05.csv', '15min/2014-06-06.csv', '15min/2014-06-09.csv', '15min/2014-06-10.csv', '15min/2014-06-11.csv', '15min/2014-06-12.csv', '15min/2014-06-13.csv', '15min/2014-06-16.csv', '15min/2014-06-17.csv', '15min/2014-06-18.csv', '15min/2014-06-19.csv', '15min/2014-06-20.csv', '15min/2014-06-23.csv', '15min/2014-06-24.csv', '15min/2014-06-25.csv', '15min/2014-06-26.csv', '15min/2014-06-27.csv', '15min/2014-06-30.csv', '15min/2014-07-01.csv', '15min/2014-07-02.csv', '15min/2014-07-03.csv', '15min/2014-07-04.csv', '15min/2014-07-07.csv', '15min/2014-07-08.csv', '15min/2014-07-09.csv', '15min/2014-07-10.csv', '15min/2014-07-11.csv', '15min/2014-07-14.csv', '15min/2014-07-15.csv', '15min/2014-07-16.csv', '15min/2014-07-17.csv', '15min/2014-07-18.csv', '15min/2014-07-22.csv', '15min/2014-07-23.csv', '15min/2014-07-24.csv', '15min/2014-07-25.csv', '15min/2014-07-28.csv', '15min/2014-07-29.csv', '15min/2014-07-30.csv', '15min/2014-07-31.csv', '15min/2014-08-01.csv', '15min/2014-08-04.csv', '15min/2014-08-05.csv', '15min/2014-08-06.csv', '15min/2014-08-07.csv', '15min/2014-08-08.csv', '15min/2014-08-11.csv', '15min/2014-08-12.csv', '15min/2014-08-13.csv', '15min/2014-08-14.csv', '15min/2014-08-15.csv', '15min/2014-08-18.csv', '15min/2014-08-19.csv', '15min/2014-08-20.csv', '15min/2014-08-21.csv', '15min/2014-08-22.csv', '15min/2014-08-25.csv', '15min/2014-08-26.csv', '15min/2014-08-27.csv', '15min/2014-08-28.csv', '15min/2014-08-29.csv', '15min/2014-09-01.csv', '15min/2014-09-02.csv', '15min/2014-09-03.csv', '15min/2014-09-04.csv', '15min/2014-09-05.csv', '15min/2014-09-08.csv', '15min/2014-09-09.csv', '15min/2014-09-10.csv', '15min/2014-09-11.csv', '15min/2014-09-12.csv', '15min/2014-09-16.csv', '15min/2014-09-17.csv', '15min/2014-09-18.csv', '15min/2014-09-19.csv', '15min/2014-09-22.csv', '15min/2014-09-24.csv', '15min/2014-09-25.csv', '15min/2014-09-26.csv', '15min/2014-09-29.csv', '15min/2014-09-30.csv', '15min/2014-10-01.csv', '15min/2014-10-02.csv', '15min/2014-10-03.csv', '15min/2014-10-06.csv', '15min/2014-10-07.csv', '15min/2014-10-08.csv', '15min/2014-10-09.csv', '15min/2014-10-10.csv', '15min/2014-10-14.csv', '15min/2014-10-15.csv', '15min/2014-10-16.csv', '15min/2014-10-17.csv', '15min/2014-10-20.csv', '15min/2014-10-21.csv', '15min/2014-10-22.csv', '15min/2014-10-23.csv', '15min/2014-10-24.csv', '15min/2014-10-27.csv', '15min/2014-10-28.csv', '15min/2014-10-29.csv', '15min/2014-10-30.csv', '15min/2014-10-31.csv', '15min/2014-11-01.csv', '15min/2014-11-04.csv', '15min/2014-11-05.csv', '15min/2014-11-06.csv', '15min/2014-11-07.csv', '15min/2014-11-10.csv', '15min/2014-11-11.csv', '15min/2014-11-12.csv', '15min/2014-11-13.csv', '15min/2014-11-14.csv', '15min/2014-11-17.csv', '15min/2014-11-18.csv', '15min/2014-11-19.csv', '15min/2014-11-20.csv', '15min/2014-11-21.csv', '15min/2014-11-25.csv', '15min/2014-11-26.csv', '15min/2014-11-27.csv', '15min/2014-11-28.csv', '15min/2014-12-01.csv', '15min/2014-12-02.csv', '15min/2014-12-03.csv', '15min/2014-12-04.csv', '15min/2014-12-05.csv', '15min/2014-12-08.csv', '15min/2014-12-09.csv', '15min/2014-12-10.csv', '15min/2014-12-11.csv', '15min/2014-12-12.csv', '15min/2014-12-15.csv', '15min/2014-12-16.csv', '15min/2014-12-17.csv', '15min/2014-12-18.csv', '15min/2014-12-19.csv', '15min/2014-12-22.csv', '15min/2014-12-24.csv', '15min/2014-12-25.csv', '15min/2014-12-26.csv', '15min/2014-12-29.csv', '15min/2014-12-30.csv', '15min/2015-01-05.csv', '15min/2015-01-06.csv', '15min/2015-01-07.csv', '15min/2015-01-08.csv', '15min/2015-01-09.csv', '15min/2015-01-13.csv', '15min/2015-01-14.csv', '15min/2015-01-15.csv', '15min/2015-01-16.csv', '15min/2015-01-19.csv', '15min/2015-01-20.csv', '15min/2015-01-21.csv', '15min/2015-01-22.csv', '15min/2015-01-23.csv', '15min/2015-01-26.csv', '15min/2015-01-27.csv', '15min/2015-01-28.csv', '15min/2015-01-29.csv', '15min/2015-01-30.csv', '15min/2015-02-01.csv', '15min/2015-02-02.csv', '15min/2015-02-03.csv', '15min/2015-02-04.csv', '15min/2015-02-05.csv', '15min/2015-02-06.csv', '15min/2015-02-09.csv', '15min/2015-02-10.csv', '15min/2015-02-12.csv', '15min/2015-02-13.csv', '15min/2015-02-16.csv', '15min/2015-02-17.csv', '15min/2015-02-18.csv', '15min/2015-02-19.csv', '15min/2015-02-20.csv', '15min/2015-02-23.csv', '15min/2015-02-24.csv', '15min/2015-02-25.csv', '15min/2015-02-26.csv', '15min/2015-02-27.csv', '15min/2015-03-01.csv', '15min/2015-03-02.csv', '15min/2015-03-03.csv', '15min/2015-03-04.csv', '15min/2015-03-05.csv', '15min/2015-03-06.csv', '15min/2015-03-09.csv', '15min/2015-03-10.csv', '15min/2015-03-11.csv', '15min/2015-03-12.csv', '15min/2015-03-13.csv', '15min/2015-03-16.csv', '15min/2015-03-17.csv', '15min/2015-03-18.csv', '15min/2015-03-19.csv', '15min/2015-03-20.csv', '15min/2015-03-23.csv', '15min/2015-03-24.csv', '15min/2015-03-25.csv', '15min/2015-03-26.csv', '15min/2015-03-27.csv', '15min/2015-03-30.csv', '15min/2015-03-31.csv', '15min/2015-04-01.csv', '15min/2015-04-02.csv', '15min/2015-04-03.csv', '15min/2015-04-06.csv', '15min/2015-04-07.csv', '15min/2015-04-08.csv', '15min/2015-04-09.csv', '15min/2015-04-10.csv', '15min/2015-04-13.csv', '15min/2015-04-14.csv', '15min/2015-04-15.csv', '15min/2015-04-16.csv', '15min/2015-04-17.csv', '15min/2015-04-20.csv', '15min/2015-04-21.csv', '15min/2015-04-22.csv', '15min/2015-04-23.csv', '15min/2015-04-24.csv', '15min/2015-04-27.csv', '15min/2015-04-28.csv', '15min/2015-04-30.csv', '15min/2015-05-01.csv', '15min/2015-05-07.csv', '15min/2015-05-08.csv', '15min/2015-05-11.csv', '15min/2015-05-12.csv', '15min/2015-05-13.csv', '15min/2015-05-14.csv', '15min/2015-05-15.csv', '15min/2015-05-18.csv', 
            '15min/2015-05-19.csv', '15min/2015-05-20.csv', '15min/2015-05-21.csv', '15min/2015-05-22.csv', '15min/2015-05-25.csv', '15min/2015-05-26.csv', '15min/2015-05-27.csv', '15min/2015-05-28.csv', '15min/2015-05-29.csv', '15min/2015-06-01.csv', '15min/2015-06-02.csv', '15min/2015-06-03.csv', '15min/2015-06-04.csv', '15min/2015-06-05.csv', '15min/2015-06-08.csv', '15min/2015-06-09.csv', '15min/2015-06-10.csv', '15min/2015-06-11.csv', '15min/2015-06-12.csv', '15min/2015-06-15.csv', '15min/2015-06-16.csv', '15min/2015-06-17.csv', '15min/2015-06-18.csv', '15min/2015-06-19.csv', '15min/2015-06-22.csv', '15min/2015-06-23.csv', '15min/2015-06-24.csv', '15min/2015-06-25.csv', '15min/2015-06-26.csv', '15min/2015-06-29.csv', '15min/2015-06-30.csv', '15min/2015-07-01.csv', '15min/2015-07-02.csv', '15min/2015-07-03.csv', '15min/2015-07-06.csv', '15min/2015-07-07.csv', '15min/2015-07-08.csv', '15min/2015-07-09.csv', '15min/2015-07-10.csv', '15min/2015-07-13.csv', '15min/2015-07-14.csv', '15min/2015-07-15.csv', '15min/2015-07-16.csv', '15min/2015-07-17.csv', '15min/2015-07-21.csv', '15min/2015-07-22.csv', '15min/2015-07-23.csv', '15min/2015-07-24.csv', '15min/2015-07-27.csv', '15min/2015-07-28.csv', '15min/2015-07-29.csv', '15min/2015-07-30.csv', '15min/2015-07-31.csv', '15min/2015-08-01.csv', '15min/2015-08-03.csv', '15min/2015-08-04.csv', '15min/2015-08-05.csv', '15min/2015-08-06.csv', '15min/2015-08-07.csv', '15min/2015-08-10.csv', '15min/2015-08-11.csv', '15min/2015-08-12.csv', '15min/2015-08-13.csv', '15min/2015-08-14.csv', '15min/2015-08-17.csv', '15min/2015-08-18.csv', '15min/2015-08-19.csv', '15min/2015-08-20.csv', '15min/2015-08-21.csv', '15min/2015-08-24.csv', '15min/2015-08-25.csv', '15min/2015-08-26.csv', '15min/2015-08-27.csv', '15min/2015-08-28.csv', '15min/2015-08-31.csv', '15min/2015-09-01.csv', '15min/2015-09-02.csv', '15min/2015-09-03.csv', '15min/2015-09-04.csv', '15min/2015-09-07.csv', '15min/2015-09-08.csv', '15min/2015-09-09.csv', '15min/2015-09-10.csv', '15min/2015-09-11.csv', '15min/2015-09-14.csv', '15min/2015-09-15.csv', '15min/2015-09-16.csv', '15min/2015-09-17.csv', '15min/2015-09-18.csv', '15min/2015-09-24.csv', '15min/2015-09-25.csv', '15min/2015-09-28.csv', '15min/2015-09-29.csv', '15min/2015-09-30.csv', '15min/2015-10-01.csv', '15min/2015-10-02.csv', '15min/2015-10-05.csv', '15min/2015-10-06.csv', '15min/2015-10-07.csv', '15min/2015-10-08.csv', '15min/2015-10-09.csv', '15min/2015-10-13.csv', '15min/2015-10-14.csv', '15min/2015-10-15.csv', '15min/2015-10-16.csv', '15min/2015-10-19.csv', '15min/2015-10-20.csv', '15min/2015-10-21.csv', '15min/2015-10-22.csv', '15min/2015-10-23.csv', '15min/2015-10-26.csv', '15min/2015-10-27.csv', '15min/2015-10-28.csv', '15min/2015-10-29.csv', '15min/2015-10-30.csv', '15min/2015-11-01.csv', '15min/2015-11-02.csv', '15min/2015-11-04.csv', '15min/2015-11-05.csv', '15min/2015-11-06.csv', '15min/2015-11-09.csv', '15min/2015-11-10.csv', '15min/2015-11-11.csv', '15min/2015-11-12.csv', '15min/2015-11-13.csv', '15min/2015-11-16.csv', '15min/2015-11-17.csv', '15min/2015-11-18.csv', '15min/2015-11-19.csv', '15min/2015-11-20.csv', '15min/2015-11-24.csv', '15min/2015-11-25.csv', '15min/2015-11-26.csv', '15min/2015-11-27.csv', '15min/2015-11-30.csv', '15min/2015-12-01.csv', '15min/2015-12-02.csv', '15min/2015-12-03.csv', '15min/2015-12-04.csv', '15min/2015-12-07.csv', '15min/2015-12-08.csv', '15min/2015-12-09.csv', '15min/2015-12-10.csv', '15min/2015-12-11.csv', '15min/2015-12-14.csv', '15min/2015-12-15.csv', '15min/2015-12-16.csv', '15min/2015-12-17.csv', '15min/2015-12-18.csv', '15min/2015-12-21.csv', '15min/2015-12-22.csv', '15min/2015-12-24.csv', '15min/2015-12-25.csv', '15min/2015-12-28.csv', '15min/2015-12-29.csv', '15min/2015-12-30.csv']
train15min_data_date=[]
import os
for i in range(len(file_15min)):
    basename_without_ext = os.path.splitext(os.path.basename(file_15min[i]))[0]
    train15min_data_date.append(basename_without_ext)
topix15min_index=[]
topix15min_close=[]
topix15min_volume=[]
MinMax15min_index=[]
MinMax15min_close=[]
for file in file_15min:
        data=pd.read_csv(file,header=0)
        #正規化のクラスを準備
        ms = MinMaxScaler()
        #特徴量の最大値と最小値を計算し変換
        X = np.array(data["Close"]).reshape(-1,1)
        data["MinMax_Close"] = ms.fit_transform(X)#最小値0最大値1の正規化
        a=data["Close"][0]#日の始値
        b=data["MinMax_Close"][0]#日の始値
        data["MinMax_index"]=data["Close"]
        data["index"]=data["Close"]
        for i in range(len(data.index)):
            data["index"][i]=data["Close"][i]/a
            data["MinMax_index"][i]=data["MinMax_Close"][i]/b
        #data.to_csv(file, encoding="shift_jis")
        topix15min_close.append(data["Close"].tail(1).values)
        topix15min_index.append(data["index"].values)
        topix15min_volume.append(data["Volume"].values)
        MinMax15min_close.append(data["MinMax_Close"].values)
        MinMax15min_index.append(data["MinMax_index"].values)
df_topix15min_index=pd.DataFrame(topix15min_index,index=train15min_data_date)
df_topix15min_close=pd.DataFrame(topix15min_close,index=train15min_data_date)
df_topix15min_volume=pd.DataFrame(topix15min_volume,index=train15min_data_date)
df_MinMax15min_index=pd.DataFrame(MinMax15min_index,index=train15min_data_date)
df_MinMax15min_close=pd.DataFrame(MinMax15min_close,index=train15min_data_date)
#可視化
#plt.plot(df_topix15min_index.T)
#plt.plot(df_MinMax15min_index.T)

In [26]:
topix_train=topix_index#+topix15min_index
df_topix_train=pd.DataFrame(topix_train,index=train_dates[:48])
#len(df_topix_train)
all_file=file_names[:48]#+file_15min
len(all_file)

48

In [28]:
#DTW計算
from fastdtw import fastdtw
distance=[]
path=[]
for i in range(len(topix_train)):
    print(len(topix_train)-i)
    for j in range(len(topix_train)):
        dist,pa=fastdtw(topix_train[i], topix_train[j],dist=euclidean)
        distance.append(dist)
        path.append(pa)
#listの分割　
def split_list(l, n):
    """
    リストをサブリストに分割する
    :param l: リスト
    :param n: サブリストの要素数
    :return: 
    """
    for i in range(0, len(l), n):
        yield l[i:i + n]
 
result = list(split_list(distance, len(topix_train)))
#DTW行列
c=np.array(result)
#df_c=pd.DataFrame(c)
#df_c.to_csv("train_data.csv",encoding="shift_jis")

#k-medoids法
from sklearn_extra.cluster import KMedoids
import numpy as np
kmedoid=KMedoids(n_clusters=30, metric='euclidean', method='alternate', init='heuristic', max_iter=300, random_state=None).fit(c)
#cluster追加
df_topix_train["cluster"]=kmedoid.labels_

48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [29]:
df_topix_train.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,cluster
2012-01-01,1.0,0.990969,0.981978,0.985114,0.987187,0.978681,0.988708,0.984576,0.989219,0.996891,...,1.029099,1.024415,1.018870,1.016528,NaN,NaN,NaN,NaN,NaN,1
2012-02-01,1.0,1.005924,1.003602,1.015687,1.019539,1.032165,1.035002,1.027851,1.031294,1.038049,...,1.088976,1.094187,1.100704,1.101971,1.106232,1.102908,NaN,NaN,NaN,29
2012-03-01,1.0,1.007552,1.001587,0.994961,0.989381,1.005556,1.020648,1.016524,1.016584,1.030750,...,1.036715,1.025242,1.024389,1.049162,1.039553,1.031508,1.027431,NaN,NaN,2
2012-04-01,1.0,0.994124,0.975831,0.972572,0.950517,0.950213,0.941347,0.946066,0.952608,0.938999,...,0.945669,0.939127,0.945611,0.946323,0.939513,NaN,NaN,NaN,NaN,27
2012-05-01,1.0,1.004281,0.977922,0.983635,0.970031,0.969512,0.960595,0.958442,0.946687,0.935895,...,0.913970,0.914831,0.914654,0.920886,0.916566,0.911335,NaN,NaN,NaN,27

In [30]:
#翌月の月末価格の上昇下落ラベル

#月末終値追加
m=[]
for file in all_file:
    data=pd.read_csv(file,header=0)
    m.append(int(data["Close"].tail(1).item()))
df_topix_train["month_close"]=m
#目的変数Upを追加する(翌日の月末が上がる場合1、それ以外は0とする)、'delta_Close'カラムの削除
df_topix_train['Up']=df_topix_train['cluster']
for i in range(len(df_topix_train['month_close'])-1):
    if df_topix_train['month_close'][i] < df_topix_train['month_close'][i+1]:
        df_topix_train['Up'][i]=1
    else:
        df_topix_train['Up'][i]=0
#df = df.drop('delta_Close', axis=1)
#df_test=df_topix_index[["cluster","month_close","Up"]]

In [31]:
df_topix_train.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,cluster,month_close,Up
2012-01-01,1.0,0.990969,0.981978,0.985114,0.987187,0.978681,0.988708,0.984576,0.989219,0.996891,...,1.018870,1.016528,NaN,NaN,NaN,NaN,NaN,1,755,1
2012-02-01,1.0,1.005924,1.003602,1.015687,1.019539,1.032165,1.035002,1.027851,1.031294,1.038049,...,1.100704,1.101971,1.106232,1.102908,NaN,NaN,NaN,29,835,1
2012-03-01,1.0,1.007552,1.001587,0.994961,0.989381,1.005556,1.020648,1.016524,1.016584,1.030750,...,1.024389,1.049162,1.039553,1.031508,1.027431,NaN,NaN,2,854,0
2012-04-01,1.0,0.994124,0.975831,0.972572,0.950517,0.950213,0.941347,0.946066,0.952608,0.938999,...,0.945611,0.946323,0.939513,NaN,NaN,NaN,NaN,27,804,0
2012-05-01,1.0,1.004281,0.977922,0.983635,0.970031,0.969512,0.960595,0.958442,0.946687,0.935895,...,0.914654,0.920886,0.916566,0.911335,NaN,NaN,NaN,27,719,1

In [214]:
df_topix_train.to_csv("topix_train30.csv",encoding="shift_jis")

<h1>検証フェーズ</h1>

In [32]:
test_data_date=["2016-01-01","2016-02-01","2016-03-01","2016-04-01","2016-05-01","2016-06-01","2016-07-01","2016-08-01","2016-09-01","2016-10-01","2016-11-01","2016-12-01",
             "2017-01-01","2017-02-01","2017-03-01","2017-04-01","2017-05-01","2017-06-01","2017-07-01","2017-08-01","2017-09-01","2017-10-01","2017-11-01","2017-12-01",
             "2018-01-01","2018-02-01","2018-03-01","2018-04-01","2018-05-01","2018-06-01","2018-07-01","2018-08-01","2018-09-01","2018-10-01","2018-11-01","2018-12-01",
             "2019-01-01","2019-02-01","2019-03-01","2019-04-01","2019-05-01","2019-06-01","2019-07-01","2019-08-01","2019-09-01","2019-10-01","2019-11-01","2019-12-01",
             "2020-01-01","2020-02-01","2020-03-01","2020-04-01","2020-05-01","2020-06-01","2020-07-01","2020-08-01","2020-09-01","2020-10-01","2020-11-01","2020-12-01"]
test_file_names=list(map(lambda s: s + '.csv',test_data_date ))
test_topix_close=[]
test_topix_index=[]
test_topix_volume=[]
test_MinMax_close=[]
test_MinMax_index=[]
for file in test_file_names:
    data=pd.read_csv(file,header=0)
    #正規化のクラスを準備
    ms = MinMaxScaler()
    #特徴量の最大値と最小値を計算し変換
    X = np.array(data["Close"]).reshape(-1,1)
    data["MinMax_Close"] = ms.fit_transform(X)#最小値0最大値1の正規化
    a=data["Close"][0]#日の始値
    b=data["MinMax_Close"][0]#日の始値
    data["MinMax_index"]=data["Close"]
    data["index"]=data["Close"]
    for i in range(len(data.index)):
        data["index"][i]=data["Close"][i]/a
        data["MinMax_index"][i]=data["MinMax_Close"][i]/b
    test_topix_close.append(data["Close"].tail(1).values)
    test_topix_index.append(data["index"].values)
    test_topix_volume.append(data["Volume"].values)
    test_MinMax_close.append(data["MinMax_Close"].values)
    test_MinMax_index.append(data["MinMax_index"].values)
df_test_topix_index=pd.DataFrame(test_topix_index,index=test_data_date)
df_test_topix_close=pd.DataFrame(test_topix_close,index=test_data_date)
df_test_topix_volume=pd.DataFrame(test_topix_volume,index=test_data_date)
df_test_MinMax_close=pd.DataFrame(test_MinMax_close,index=test_data_date)
df_test_MinMax_index=pd.DataFrame(test_MinMax_index,index=test_data_date)
#可視化　
#plt.plot(df_test_topix_index.T)
#plt.plot(df_MinMax_index.T)

In [158]:
#test_topix_index.append(test[0])
for i in range(10):
    test_topix.pop(0)
len(test_topix)

1038

In [33]:
test_topix=topix_train
df_test_topix=pd.DataFrame(test_topix,index=train_dates[:48])
#test_topix
#len(test_topix_index)
len(test_topix)

48

In [34]:
test_distance=[]
test_path=[]
#DTW
for i in range(len(test_topix_index)):#テストデータ数分繰り返す 2016-01-01から2020-12-01までの60ヵ月分
    #test_topix.append(test_topix_index[i])#学習データに追加
    print(len(test_topix_index)-i)
    for j in range(len(test_topix)):#データ数分繰り返す1039.40...
        test_dist,test_pa=fastdtw(test_topix_index[i], test_topix[j],dist=euclidean)
        test_distance.append(test_dist)
        test_path.append(test_pa)
test_result = list(split_list(test_distance,len(test_topix)))

#DTW行列
test_c=np.array(test_result)
#df_c=pd.DataFrame(c,index=datas,columns=datas)
#df_c.to_csv("dtw.csv",encoding="shift_jis")
#k-medoids法 
test_kmedoid=KMedoids(n_clusters=30, 
                       metric='euclidean', 
                       method='alternate', 
                       init='heuristic', 
                       max_iter=300, 
                       random_state=None).fit(test_c)
#cluster追加
#test_df_topix=pd.DataFrame(test_topix)
df_test_topix_index["cluster"]=test_kmedoid.labels_
df_test_topix_index.groupby('cluster').count().iloc[:,1]

60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

cluster
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    2
19    1
20    1
21    7
22    1
23    2
24    2
25    1
26    8
27    3
28    6
29    8
Name: 1, dtype: int64

In [40]:
df_topix_train.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,cluster,month_close,Up
2012-01-01,1.0,0.990969,0.981978,0.985114,0.987187,0.978681,0.988708,0.984576,0.989219,0.996891,...,1.018870,1.016528,NaN,NaN,NaN,NaN,NaN,1,755,1
2012-02-01,1.0,1.005924,1.003602,1.015687,1.019539,1.032165,1.035002,1.027851,1.031294,1.038049,...,1.100704,1.101971,1.106232,1.102908,NaN,NaN,NaN,29,835,1
2012-03-01,1.0,1.007552,1.001587,0.994961,0.989381,1.005556,1.020648,1.016524,1.016584,1.030750,...,1.024389,1.049162,1.039553,1.031508,1.027431,NaN,NaN,2,854,0
2012-04-01,1.0,0.994124,0.975831,0.972572,0.950517,0.950213,0.941347,0.946066,0.952608,0.938999,...,0.945611,0.946323,0.939513,NaN,NaN,NaN,NaN,27,804,0
2012-05-01,1.0,1.004281,0.977922,0.983635,0.970031,0.969512,0.960595,0.958442,0.946687,0.935895,...,0.914654,0.920886,0.916566,0.911335,NaN,NaN,NaN,27,719,1

In [41]:
df=pd.concat([df_topix_train,df_test_topix_index])

In [98]:
df_topix_train.groupby('cluster').count().iloc[:,1]

cluster
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    6
20    3
21    2
22    2
23    1
24    1
25    1
26    1
27    7
28    3
29    2
Name: 1, dtype: int64

In [81]:
#翌月の月末価格の上昇下落ラベル
#月末終値追加
m=[]
return_graph=[]
sum_return=0
for file in test_file_names:
    data=pd.read_csv(file,header=0)
    m.append(int(data["Close"].tail(1).item()))
df_test_topix_index["month_close"]=df_test_topix_index['cluster']
df_test_topix_index["month_close"]=m

#正解ラベルの付与
#目的変数Upを追加する(翌日の月末が上がる場合1、それ以外は0とする)、
df_test_topix_index['Up']=str(df_test_topix_index['cluster'])

In [93]:
ruiseki_return=0
for i in range(len(df_test_topix_index['month_close'])-1):
    if df_test_topix_index['month_close'][i] < df_test_topix_index['month_close'][i+1]:
        df_test_topix_index['Up'][i]="up"
    else:
        df_test_topix_index['Up'][i]="down"
    #df = df.drop('delta_Close', axis=1)
    #df_test=test_df_topix[["cluster","month_close","Up"]]
    
    for j in range(30):#クラスタ数回
        if df_test_topix_index["cluster"][i]==j:#クラスタ数の特定
        #クラスタ内の上昇（下落）ラベルの多数決
            n=df[df["cluster"]==j]
            n.reset_index(drop=True,inplace=True)
            n["Time"] = pd.to_datetime(df_test_topix_index["index"])
            up=int((n['Up']=="up").sum())#上昇ラベルの総数
            down=int((n["Up"]=="down").sum())#下落ラベルの総数
            if up>down:#上昇ラベルの方が多い場合
                #df_test_topix_index["pred_Up"]=str(df_test_topix_index["cluster"])
                df_test_topix_index["pred_Up"][i]="up"
                position=df_test_topix_index["month_close"][i]#月末価格で購入
                #next_month=df_test_topix_index["Time"][i]+relativedelta(months=+1)#翌月
                #m_date=(n["Time"][j]+relativedelta(months=+1)).strftime('%Y-%m-%d')
                #m_date=pd.to_datetime(m_date)
                #df_test_topix_index.reset_index(inplace=True)
                #df_test_topix_index["Time"] = pd.to_datetime(df_test_topix_index.index)
                #n.set_index("index", inplace = True)
                #df_test_topix_index["Time"][0]+relativedelta(months=+1)
                #df_train["month_close"][df_train["Time"] [0] +relativedelta(months=+1).fromtimestamp(ts)]
                #if next_month:#翌月の場合
                rikaku=df_test_topix_index["month_close"][i+1]#翌月価格
                profit=rikaku-position#翌月価格で売った時の収益
                month_return=(rikaku/position)-1#リターン％
                return_graph.append(month_return)
                ruiseki_return=(ruiseki_return+month_return+1)*100#累積収益率
                #sum=sum+profit#利益の合計
                #print("利益=",sum)
            #s.append(sum)#毎月の利益
            elif up<down:
                #df_test_topix_index["pred_Up"]=str(df_test_topix_index["cluster"])
                df_test_topix_index["pred_Up"][i]="down"
                position=n["month_close"][i]#月末価格で売却
                    #df_test_topix_index["Time"] = pd.to_datetime(df_test_topix_index.index)
                #next_month=n["Time"][i]+relativedelta(months=+1)#翌月
                #if next_month:#翌月の場合
                rikaku=df_test_topix_index["month_close"][s]#翌月価格
                profit=position-rikaku#翌月価格で買った時の収益
                month_return=(rikaku/position)-1#リターン％
                return_graph.append(month_return)
                ruiseki_return=(ruiseki_return+month_return+1)*100#累積収益率
                #ruiseki_return=(1+month_return).cumprod()#累積収益率
                #sum=sum+profit#利益の合計
                #print("利益=",sum)
            #s.append(sum)

In [95]:
n["Up"]

0     0
1     1
2     1
3    28
4    28
5    28
6    28
7    28
8    28
Name: Up, dtype: int64

In [78]:
#翌月の月末価格の上昇下落ラベル
#月末終値追加
m=[]
return_graph=[]
sum_return=0
for file in test_file_names:
    data=pd.read_csv(file,header=0)
    m.append(int(data["Close"].tail(1).item()))
df_test_topix_index["month_close"]=df_test_topix_index['cluster']
df_test_topix_index["month_close"]=m

#正解ラベルの付与
#目的変数Upを追加する(翌日の月末が上がる場合1、それ以外は0とする)、
#df_test_topix_index['Up']=df_test_topix_index['cluster']

for i in range(len(df_test_topix_index['month_close'])-1):
    if df_test_topix_index['month_close'][i] < df_test_topix_index['month_close'][i+1]:
        df_test_topix_index['Up'][i]="up"
    else:
        df_test_topix_index['Up'][i]="down"
    #df = df.drop('delta_Close', axis=1)
    #df_test=test_df_topix[["cluster","month_close","Up"]]
    
    for j in range(30):#クラスタ数回
        if df_test_topix_index["cluster"][i]==j:#クラスタ数の特定
        #クラスタ内の上昇（下落）ラベルの多数決
            n=df[df["cluster"]==j]
            df_test_topix_index.reset_index(drop=True,inplace=True)
            df_test_topix_index["Time"] = pd.to_datetime(df_test_topix_index["index"])
            up=int((n['Up']=="up").sum())#上昇ラベルの総数
            down=int((n["Up"]=="down").sum())#下落ラベルの総数
            print(n['Up'])
            
            #print("up",up)
            #print("down",down)
            if up>down:#上昇ラベルの方が多い場合
                #df_test_topix_index["pred_Up"]=df_test_topix_index["cluster"]
                df_test_topix_index["pred_Up"][i]="up"
                position=df_test_topix_index["month_close"][i]#月末価格で購入
                #next_month=df_test_topix_index["Time"][i]+relativedelta(months=+1)#翌月
                #m_date=(n["Time"][j]+relativedelta(months=+1)).strftime('%Y-%m-%d')
                #m_date=pd.to_datetime(m_date)
                #df_test_topix_index.reset_index(inplace=True)
                #df_test_topix_index["Time"] = pd.to_datetime(df_test_topix_index.index)
                #n.set_index("index", inplace = True)
                #df_test_topix_index["Time"][0]+relativedelta(months=+1)
                #df_train["month_close"][df_train["Time"] [0] +relativedelta(months=+1).fromtimestamp(ts)]
                #if next_month:#翌月の場合
                rikaku=df_test_topix_index["month_close"][i+1]#翌月価格
                profit=rikaku-position#翌月価格で売った時の収益
                month_return=(rikaku/position)-1#リターン％
                return_graph.append(month_return)
                ruiseki_return=(ruiseki_return+month_return+1)*100#累積収益率
                #sum=sum+profit#利益の合計
                #print("利益=",sum)
            #s.append(sum)#毎月の利益
            elif up<down:
                #df_test_topix_index["pred_Up"]=df_test_topix_index["cluster"]
                df_test_topix_index["pred_Up"][i]="down"
                position=n["month_close"][i]#月末価格で売却
                    #df_test_topix_index["Time"] = pd.to_datetime(df_test_topix_index.index)
                #next_month=n["Time"][i]+relativedelta(months=+1)#翌月
                #if next_month:#翌月の場合
                rikaku=df_test_topix_index["month_close"][s]#翌月価格
                profit=position-rikaku#翌月価格で買った時の収益
                month_return=(rikaku/position)-1#リターン％
                return_graph.append(month_return)
                ruiseki_return=(ruiseki_return+month_return+1)*100#累積収益率
                #ruiseki_return=(1+month_return).cumprod()#累積収益率
                #sum=sum+profit#利益の合計
                #print("利益=",sum)
            #s.append(sum)

2012-02-01     1
2013-04-01     0
2016-01-01     0
2016-02-01    29
2016-06-01    29
2018-02-01    29
2018-10-01    29
2018-12-01    29
2019-08-01    29
2020-03-01    29
Name: Up, dtype: int64
2012-02-01     1
2013-04-01     0
2016-01-01     0
2016-02-01    29
2016-06-01    29
2018-02-01    29
2018-10-01    29
2018-12-01    29
2019-08-01    29
2020-03-01    29
Name: Up, dtype: int64
2012-06-01     0
2012-12-01     1
2015-02-01     1
2016-03-01    28
2019-01-01    28
2019-09-01    28
2020-04-01    28
2020-08-01    28
2020-11-01    28
Name: Up, dtype: int64
2012-04-01     0
2012-05-01     1
2012-07-01     0
2014-04-01     1
2014-10-01     1
2015-08-01     0
2015-12-01    27
2016-04-01    27
2016-07-01    27
2020-05-01    27
Name: Up, dtype: int64
2013-05-01     0
2013-07-01     0
2016-05-01    21
2016-10-01    21
2016-12-01    21
2017-10-01    21
2018-04-01    21
2018-07-01    21
2019-06-01    21
Name: Up, dtype: int64
2012-02-01     1
2013-04-01     0
2016-01-01     0
2016-02-01    29
2016-06-01    29
2018-02-01    29
2018-10-01    29
2018-12-01    29
2019-08-01    29
2020-03-01    29
Name: Up, dtype: int64
2012-04-01     0
2012-05-01     1
2012-07-01     0
2014-04-01     1
2014-10-01     1
2015-08-01     0
2015-12-01    27
2016-04-01    27
2016-07-01    27
2020-05-01    27
Name: Up, dtype: int64
2015-05-01     0
2016-08-01    26
2017-01-01    26
2017-08-01    26
2018-03-01    26
2018-08-01    26
2019-03-01    26
2019-05-01    26
2019-07-01    26
Name: Up, dtype: int64
2013-12-01     0
2016-09-01    18
2017-04-01    18
Name: Up, dtype: int64
2013-05-01     0
2013-07-01     0
2016-05-01    21
2016-10-01    21
2016-12-01    21
2017-10-01    21
2018-04-01    21
2018-07-01    21
2019-06-01    21
Name: Up, dtype: int64
2015-11-01     0
2016-11-01    23
2018-09-01    23
Name: Up, dtype: int64
2013-05-01     0
2013-07-01     0
2016-05-01    21
2016-10-01    21
2016-12-01    21
2017-10-01    21
2018-04-01    21
2018-07-01    21
2019-06-01    21
Name: Up, dtype: int64
2015-05-01     0
2016-08-01    26
2017-01-01    26
2017-08-01    26
2018-03-01    26
2018-08-01    26
2019-03-01    26
2019-05-01    26
2019-07-01    26
Name: Up, dtype: int64
2013-10-01    1
2017-02-01    0
Name: Up, dtype: int64
2012-08-01     1
2017-03-01    24
2020-02-01    24
Name: Up, dtype: int64
2013-12-01     0
2016-09-01    18
2017-04-01    18
Name: Up, dtype: int64
2014-02-01     0
2017-05-01    16
Name: Up, dtype: int64
2013-01-01     1
2017-06-01    12
Name: Up, dtype: int64
2014-07-01     0
2017-07-01    11
Name: Up, dtype: int64
2015-05-01     0
2016-08-01    26
2017-01-01    26
2017-08-01    26
2018-03-01    26
2018-08-01    26
2019-03-01    26
2019-05-01    26
2019-07-01    26
Name: Up, dtype: int64
2014-06-01     1
2017-09-01    14
Name: Up, dtype: int64
2013-05-01     0
2013-07-01     0
2016-05-01    21
2016-10-01    21
2016-12-01    21
2017-10-01    21
2018-04-01    21
2018-07-01    21
2019-06-01    21
Name: Up, dtype: int64
2013-09-01     0
2013-11-01     1
2017-11-01    22
Name: Up, dtype: int64
2012-11-01     1
2017-12-01    10
Name: Up, dtype: int64
2012-10-01    1
2018-01-01    9
Name: Up, dtype: int64
2012-02-01     1
2013-04-01     0
2016-01-01     0
2016-02-01    29
2016-06-01    29
2018-02-01    29
2018-10-01    29
2018-12-01    29
2019-08-01    29
2020-03-01    29
Name: Up, dtype: int64
2015-05-01     0
2016-08-01    26
2017-01-01    26
2017-08-01    26
2018-03-01    26
2018-08-01    26
2019-03-01    26
2019-05-01    26
2019-07-01    26
Name: Up, dtype: int64
2013-05-01     0
2013-07-01     0
2016-05-01    21
2016-10-01    21
2016-12-01    21
2017-10-01    21
2018-04-01    21
2018-07-01    21
2019-06-01    21
Name: Up, dtype: int64
2014-05-01     1
2018-05-01    15
Name: Up, dtype: int64
2012-01-01    1
2018-06-01    1
Name: Up, dtype: int64
2013-05-01     0
2013-07-01     0
2016-05-01    21
2016-10-01    21
2016-12-01    21
2017-10-01    21
2018-04-01    21
2018-07-01    21
2019-06-01    21
Name: Up, dtype: int64
2015-05-01     0
2016-08-01    26
2017-01-01    26
2017-08-01    26
2018-03-01    26
2018-08-01    26
2019-03-01    26
2019-05-01    26
2019-07-01    26
Name: Up, dtype: int64
2015-11-01     0
2016-11-01    23
2018-09-01    23
Name: Up, dtype: int64
2012-02-01     1
2013-04-01     0
2016-01-01     0
2016-02-01    29
2016-06-01    29
2018-02-01    29
2018-10-01    29
2018-12-01    29
2019-08-01    29
2020-03-01    29
Name: Up, dtype: int64
2012-09-01    1
2018-11-01    8
Name: Up, dtype: int64
2012-02-01     1
2013-04-01     0
2016-01-01     0
2016-02-01    29
2016-06-01    29
2018-02-01    29
2018-10-01    29
2018-12-01    29
2019-08-01    29
2020-03-01    29
Name: Up, dtype: int64
2012-06-01     0
2012-12-01     1
2015-02-01     1
2016-03-01    28
2019-01-01    28
2019-09-01    28
2020-04-01    28
2020-08-01    28
2020-11-01    28
Name: Up, dtype: int64
2013-06-01     0
2019-02-01    17
Name: Up, dtype: int64
2015-05-01     0
2016-08-01    26
2017-01-01    26
2017-08-01    26
2018-03-01    26
2018-08-01    26
2019-03-01    26
2019-05-01    26
2019-07-01    26
Name: Up, dtype: int64
2014-09-01    1
2019-04-01    7
Name: Up, dtype: int64
2015-05-01     0
2016-08-01    26
2017-01-01    26
2017-08-01    26
2018-03-01    26
2018-08-01    26
2019-03-01    26
2019-05-01    26
2019-07-01    26
Name: Up, dtype: int64
2013-05-01     0
2013-07-01     0
2016-05-01    21
2016-10-01    21
2016-12-01    21
2017-10-01    21
2018-04-01    21
2018-07-01    21
2019-06-01    21
Name: Up, dtype: int64
2015-05-01     0
2016-08-01    26
2017-01-01    26
2017-08-01    26
2018-03-01    26
2018-08-01    26
2019-03-01    26
2019-05-01    26
2019-07-01    26
Name: Up, dtype: int64
2012-02-01     1
2013-04-01     0
2016-01-01     0
2016-02-01    29
2016-06-01    29
2018-02-01    29
2018-10-01    29
2018-12-01    29
2019-08-01    29
2020-03-01    29
Name: Up, dtype: int64
2012-06-01     0
2012-12-01     1
2015-02-01     1
2016-03-01    28
2019-01-01    28
2019-09-01    28
2020-04-01    28
2020-08-01    28
2020-11-01    28
Name: Up, dtype: int64
2013-03-01     1
2015-04-01     1
2015-10-01     1
2019-10-01    20
Name: Up, dtype: int64
2014-11-01    0
2019-11-01    6
Name: Up, dtype: int64
2015-01-01    1
2019-12-01    5
Name: Up, dtype: int64
2015-03-01    1
2020-01-01    4
Name: Up, dtype: int64
2012-08-01     1
2017-03-01    24
2020-02-01    24
Name: Up, dtype: int64
2012-02-01     1
2013-04-01     0
2016-01-01     0
2016-02-01    29
2016-06-01    29
2018-02-01    29
2018-10-01    29
2018-12-01    29
2019-08-01    29
2020-03-01    29
Name: Up, dtype: int64
2012-06-01     0
2012-12-01     1
2015-02-01     1
2016-03-01    28
2019-01-01    28
2019-09-01    28
2020-04-01    28
2020-08-01    28
2020-11-01    28
Name: Up, dtype: int64
2012-04-01     0
2012-05-01     1
2012-07-01     0
2014-04-01     1
2014-10-01     1
2015-08-01     0
2015-12-01    27
2016-04-01    27
2016-07-01    27
2020-05-01    27
Name: Up, dtype: int64
2015-07-01    0
2020-06-01    3
Name: Up, dtype: int64
2013-08-01     1
2014-01-01     0
2014-03-01     0
2014-12-01     1
2015-06-01     1
2015-09-01     1
2020-07-01    19
Name: Up, dtype: int64
2012-06-01     0
2012-12-01     1
2015-02-01     1
2016-03-01    28
2019-01-01    28
2019-09-01    28
2020-04-01    28
2020-08-01    28
2020-11-01    28
Name: Up, dtype: int64
2012-03-01    0
2020-09-01    2
Name: Up, dtype: int64
2014-08-01     1
2020-10-01    25
Name: Up, dtype: int64
2012-06-01     0
2012-12-01     1
2015-02-01     1
2016-03-01    28
2019-01-01    28
2019-09-01    28
2020-04-01    28
2020-08-01    28
2020-11-01    28
Name: Up, dtype: int64

In [61]:
acc=0
bunbo=0
for i in range(60):
    if df_test_topix_index["pred_Up"][i]=="up" or df_test_topix_index["pred_Up"][i]=="down":
        bunbo=bunbo+1
        if df_test_topix_index["pred_Up"][i]==df_test_topix_index["Up"][i]:
            acc=acc+1
print("累積収益率：",ruiseki_return,"%")
print("正解率：",acc/bunbo)

累積収益率： 9.162122805614159e+117 %
正解率： 0.6271186440677966

In [76]:
df_test_topix_index

,level_0,index,0,1,2,3,4,5,6,7,...,18,19,20,21,22,cluster,month_close,Up,Time,pred_Up
0,0,2016-01-01,1.0,0.996714,0.986202,0.965734,0.958700,0.928647,0.955235,0.931694,...,NaN,NaN,NaN,NaN,NaN,29,1432,down,2016-01-01,down
1,1,2016-02-01,1.0,0.992732,0.961440,0.949503,0.935939,0.943760,0.891746,0.864829,...,0.887316,NaN,NaN,NaN,NaN,29,1297,up,2016-02-01,up
2,2,2016-03-01,1.0,1.037499,1.052444,1.057287,1.046947,1.036046,1.024215,1.039467,...,1.059016,1.042634,1.035646,NaN,NaN,28,1347,down,2016-03-01,up
3,3,2016-04-01,1.0,1.001007,0.974620,0.974143,0.977901,0.989465,0.983395,0.998425,...,1.063701,1.030083,NaN,NaN,NaN,27,1340,up,2016-04-01,up
4,4,2016-05-01,1.0,0.998738,1.005154,1.026878,1.026416,1.028701,1.015562,1.016685,...,NaN,NaN,NaN,NaN,NaN,21,1379,down,2016-05-01,up
5,5,2016-06-01,1.0,0.977784,0.981763,0.978239,0.984362,0.991851,0.981895,0.976984,...,0.899924,0.899087,0.916025,0.914652,NaN,29,1245,up,2016-06-01,up
6,6,2016-07-01,1.0,1.001754,0.983865,0.977400,0.964478,1.001076,1.024943,1.036526,...,1.054447,NaN,NaN,NaN,NaN,27,1322,up,2016-07-01,up
7,7,2016-08-01,1.0,0.983636,0.962287,0.970617,0.968279,0.987669,0.996717,0.994704,...,0.974331,0.993501,0.993176,1.005833,NaN,26,1329,down,2016-08-01,up
8,8,2016-09-01,1.0,1.002527,1.011365,1.009085,1.006408,1.004845,0.989322,0.989240,...,0.989083,NaN,NaN,NaN,NaN,18,1322,up,2016-09-01,up
9,9,2016-10-01,1.0,1.007131,1.012843,1.017442,1.014947,1.019260,1.008740,1.008710,...,1.046358,1.046817,NaN,NaN,NaN,21,1393,up,2016-10-01,up
10,10,2016-11-01,1.0,0.982235,0.966875,0.978187,0.978682,0.933943,0.987913,0.989298,...,1.054723,NaN,NaN,NaN,NaN,23,1469,up,2016-11-01,up
11,11,2016-12-01,1.0,0.996434,0.989004,0.995908,1.004955,1.019835,1.028376,1.032469,...,1.023677,1.023826,NaN,NaN,NaN,21,1518,up,2016-12-01,up
12,12,2017-01-01,1.0,1.000772,0.999254,0.992171,0.997375,0.987732,0.993831,0.970807,...,NaN,NaN,NaN,NaN,NaN,26,1521,up,2017-01-01,up
13,13,2017-02-01,1.0,0.988637,0.991635,0.995189,0.992394,0.997631,0.990692,1.012299,...,1.004942,NaN,NaN,NaN,NaN,0,1535,down,2017-02-01,up
14,14,2017-03-01,1.0,1.007469,1.003194,1.001165,1.001256,0.998171,1.001024,1.013470,...,0.994682,0.992904,0.983581,0.973929,NaN,24,1512,up,2017-03-01,up
15,15,2017-04-01,1.0,0.991767,0.991846,0.975709,0.982031,0.988543,0.985544,0.975287,...,1.009736,NaN,NaN,NaN,NaN,18,1531,up,2017-04-01,up
16,16,2017-05-01,1.0,1.006839,1.029933,1.027277,1.029498,1.030582,1.026588,1.026127,...,1.018574,NaN,NaN,NaN,NaN,16,1568,up,2017-05-01,up
17,17,2017-06-01,1.0,1.016430,1.015024,1.006494,1.006904,1.002692,1.003480,1.003411,...,1.020730,1.017798,1.023913,1.016241,NaN,12,1611,up,2017-06-01,up
18,18,2017-07-01,1.0,1.002614,1.000694,0.995447,1.000663,1.007885,1.003054,1.002911,...,1.002602,NaN,NaN,NaN,NaN,11,1618,down,2017-07-01,up
19,19,2017-08-01,1.0,1.003611,1.003267,1.001811,1.006613,1.004188,0.993491,0.993092,...,0.982573,0.981124,0.987197,0.993190,NaN,26,1617,up,2017-08-01,up
20,20,2017-09-01,1.0,0.982168,0.982965,0.986818,0.983916,0.995474,1.004853,1.010953,...,1.034058,NaN,NaN,NaN,NaN,14,1674,up,2017-09-01,up
21,21,2017-10-01,1.0,1.006477,1.006537,1.005300,1.008090,1.012858,1.013856,1.015840,...,1.058215,1.058090,1.055174,NaN,NaN,21,1765,up,2017-10-01,up
22,22,2017-11-01,1.0,1.004125,1.003330,1.014877,1.017289,1.014776,1.007685,0.998198,...,0.999687,1.003006,NaN,NaN,NaN,22,1792,up,2017-11-01,up
23,23,2017-12-01,1.0,0.994623,0.996905,0.982683,0.994278,1.004008,1.009357,1.010325,...,1.012524,1.011706,NaN,NaN,NaN,10,1817,up,2017-12-01,up
24,24,2018-01-01,1.0,1.008864,1.013666,1.015179,1.013022,1.006664,1.016327,1.014486,...,NaN,NaN,NaN,NaN,NaN,9,1836,down,2018-01-01,up
25,25,2018-02-01,1.0,0.996664,0.975033,0.932086,0.935561,0.943997,0.925969,0.917848,...,NaN,NaN,NaN,NaN,NaN,29,1768,down,2018-02-01,up
26,26,2018-03-01,1.0,0.981692,0.973905,0.986266,0.979175,0.982617,0.985795,1.000632,...,0.976646,0.979198,NaN,NaN,NaN,26,1704,up,2018-03-01,up
27,27,2018-04-01,1.0,0.997086,0.998449,1.009264,1.006156,1.010007,1.013553,1.009668,...,1.037073,1.040058,NaN,NaN,NaN,21,1777,down,2018-04-01,up
28,28,2018-05-01,1.0,0.998501,0.999436,1.003179,0.999284,1.001939,1.011712,1.017890,...,0.978553,0.984934,NaN,NaN,NaN,15,1747,down,2018-05-01,up
29,29,2018-06-01,1.0,1.014590,1.014744,1.016248,1.022776,1.018449,1.021536,1.024955,...,0.989869,0.987325,0.989549,NaN,NaN,1,1730,up,2018-06-01,up
30,30,2018-07-01,1.0,0.998531,0.988739,0.997788,1.009733,1.012293,1.003887,1.008488,...,1.042978,1.034212,NaN,NaN,NaN,21,1753,down,2018-07-01,up
31,31,2018-08-01,1.0,0.990016,0.984642,0.979172,0.986603,0.985846,0.983275,0.971974,...,0.976940,0.978455,0.982958,0.982698,0.980557,26,1735,up,2018-08-01,up
32,32,2018-09-01,1.0,0.992271,0.984967,0.980253,0.982174,0.988750,0.984333,0.995216,...,NaN,NaN,NaN,NaN,NaN,23,1817,down,2018-09-01,up
33,33,2018-10-01,1.0,1.003339,0.991622,0.990775,0.986078,0.968734,0.970241,0.936137,...,0.877913,0.874365,0.886411,0.905476,NaN,29,1646,up,2018-10-01,up
34,34,2018-11-01,1.0,1.016366,1.005110,1.016727,1.012487,1.030146,1.025079,1.024448,...,1.016801,1.021690,NaN,NaN,NaN,8,1667,down,2018-11-01,up
35,35,2018-12-01,1.0,0.976407,0.953554,0.959385,0.941245,0.932660,0.951191,0.957136,...,NaN,NaN,NaN,NaN,NaN,29,1494,up,2018-12-01,up
36,36,2019-01-01,1.0,1.028121,1.032131,1.043469,1.034565,1.039812,1.048642,1.045277,...,NaN,NaN,NaN,NaN,NaN,28,1567,up,2019-01-01,up
37,37,2019-02-01,1.0,1.010673,1.011664,1.011185,1.002812,0.983875,1.005094,1.015786,...,NaN,NaN,NaN,NaN,NaN,17,1607,down,2019-02-01,up
38,38,2019-03-01,1.0,1.007347,1.002172,0.999709,0.991298,0.973213,0.978783,0.993662,...,0.979656,0.985096,NaN,NaN,NaN,26,1591,up,2019-03-01,up
39,39,2019-04-01,1.0,0.997450,1.003689,1.002624,1.006152,1.002680,1.001826,0.994956,...,1.001312,NaN,NaN,NaN,NaN,7,1617,down,2019-04-01,up
40,40,2019-05-01,1.0,0.982805,0.969291,0.968484,0.963309,0.959458,0.965190,0.961065,...,NaN,NaN,NaN,NaN,NaN,26,1512,up,2019-05-01,up
41,41,2019-06-01,1.0,1.000087,1.020761,1.017312,1.022302,1.036012,1.041602,1.036866,...,1.036232,1.034811,NaN,NaN,NaN,21,1551,up,2019-06-01,up
42,42,2019-07-01,1.0,1.003149,0.996650,1.004877,0.995930,0.993716,0.991463,0.996075,...,0.989728,0.994151,0.987564,NaN,NaN,26,1565,down,2019-07-01,up
43,43,2019-08-01,1.0,0.978378,0.960781,0.956538,0.956985,0.956174,0.959479,0.948461,...,0.950872,0.950758,0.964596,NaN,NaN,29,1511,up,2019-08-01,up
44,44,2019-09-01,1.0,0.997366,1.015667,1.017415,1.026688,1.031242,1.048233,1.055805,...,NaN,NaN,NaN,NaN,NaN,28,1587,up,2019-09-01,up
45,45,2019-10-01,1.0,0.995814,0.978709,0.981223,0.981129,0.989707,0.986712,0.986538,...,1.037230,1.039239,1.039931,NaN,NaN,20,1667,up,2019-10-01,up
46,46,2019-11-01,1.0,1.016598,1.016772,1.018980,1.021764,1.022520,1.025905,1.020300,...,1.019718,NaN,NaN,NaN,NaN,6,1699,up,2019-11-01,up
47,47,2019-12-01,1.0,0.995474,0.993456,0.998204,0.999341,1.004421,1.003663,1.000268,...,1.010901,1.004007,NaN,NaN,NaN,5,1721,down,2019-12-01,up
48,48,2020-01-01,1.0,1.016236,1.002303,1.018592,1.022192,1.025355,1.019776,1.018398,...,NaN,NaN,NaN,NaN,NaN,4,1684,down,2020-01-01,up
49,49,2020-02-01,1.0,1.006923,1.017439,1.038454,1.035560,1.028087,1.027657,1.024165,...,NaN,NaN,NaN,NaN,NaN,24,1510,down,2020-02-01,up
50,50,2020-03-01,1.0,0.986401,0.984684,0.993341,0.964342,0.910281,0.921887,0.907758,...,0.956497,0.940801,0.919502,NaN,NaN,29,1403,up,2020-03-01,up
51,51,2020-04-01,1.0,0.984301,0.980793,1.018667,1.038584,1.055060,1.048776,1.040582,...,1.072586,1.083600,NaN,NaN,NaN,28,1464,up,2020-04-01,up
52,52,2020-05-01,1.0,0.996835,1.018878,1.034487,1.031762,1.030344,1.010683,1.015727,...,NaN,NaN,NaN,NaN,NaN,27,1563,down,2020-05-01,up
53,53,2020-06-01,1.0,1.012067,1.019334,1.022355,1.027876,1.039503,1.038043,1.035672,...,0.995602,1.005495,0.987551,0.993638,NaN,3,1558,down,2020-06-01,up
54,54,2020-07-01,1.0,1.002697,1.025049,1.021513,1.012102,1.012108,0.997784,1.022364,...,1.000559,0.972345,NaN,NaN,NaN,19,1496,up,2020-07-01,up
55,55,2020-08-01,1.0,1.021423,1.021062,1.017890,1.015828,1.041586,1.054438,1.066667,...,1.054005,1.062746,NaN,NaN,NaN,28,1618,up,2020-08-01,up
56,56,2020-09-01,1.0,1.004697,1.009549,1.000489,1.003144,0.993557,1.005601,1.012891,...,1.005991,NaN,NaN,NaN,NaN,2,1625,down,2020-09-01,up
57,57,2020-10-01,1.0,0.989991,1.007235,1.012464,1.012907,1.018444,1.013467,1.010987,...,0.995103,0.992039,0.991043,0.971602,NaN,25,1579,up,2020-10-01,up
58,58,2020-11-01,1.0,1.012003,1.026114,1.031431,1.045990,1.057744,1.075326,1.073560,...,NaN,NaN,NaN,NaN,NaN,28,1754,up,2020-11-01,up
59,59,2020-12-01,1.0,1.003161,1.003885,1.004275,0.995685,0.994588,1.006243,1.004428,...,1.011118,1.028727,1.020527,NaN,NaN,13,1804,13,2020-12-01,0 29\n1 29\n2 28\n3 27\n4 ...

In [ ]:
#変動率
#テクニカル指標
#月、週、日単位の平均、標準偏差
#移動平均線のパターン分析
#トレンド・季節性・周期性・不規則性→不規則性を削除もしくは不規則性のトレンドのみに適用

In [ ]:
# 終値の前日比の追加
df_shift = df.shift(1)

df['Close_ratio'] = (df['Close'] - df_shift['Close']) / df_shift['Close']
df

# 始値と終値の差分を追加
df['Body'] = df['Open'] - df['Close']
df

,weeks,weekday,High,Low,Open,Close,Up,Close_ratio
Date,,,,,,,,
1965-01-05,0,1,1.163391e+05,1.163391e+05,1.163391e+05,1.163391e+05,1,NaN
1965-01-06,0,2,1.169191e+05,1.169191e+05,1.169191e+05,1.169191e+05,1,0.004985
1965-01-07,0,3,1.178700e+05,1.178700e+05,1.178700e+05,1.178700e+05,1,0.008133
1965-01-08,0,4,1.189948e+05,1.189948e+05,1.189948e+05,1.189948e+05,1,0.009543
1965-01-12,1,1,1.191900e+05,1.191900e+05,1.191900e+05,1.191900e+05,0,0.001640
...,...,...,...,...,...,...,...,...
2021-10-15,2962,4,2.690117e+06,2.657175e+06,2.662822e+06,2.688848e+06,0,0.018133
2021-10-18,2963,0,2.695851e+06,2.675507e+06,2.691178e+06,2.684855e+06,1,-0.001485
2021-10-19,2963,1,2.707705e+06,2.689472e+06,2.693348e+06,2.702436e+06,1,0.006548
2021-10-20,2963,2,2.727743e+06,2.703065e+06,2.718200e+06,2.706138e+06,0,0.001370
2021-10-21,2963,3,2.702926e+06,2.658233e+06,2.696628e+06,2.663157e+06,0,-0.015883

## 検証データによる予測と精度検証

In [ ]:
#参考文献
k-medoids
#https://python-kmedoids.readthedocs.io/en/latest/